.bgImageRegister{
    background: url("../../images/register.png");
    width: 100%;
    height: calc(100vh - 8rem);
    background-size: cover;

    @include responsive(mobile){
        width: 0;
        height: 0;
    }

    @include responsive(tablet){
        width: 0;
        height: 0;
    }

    @include responsive(laptop){
        width: 0;
        height: 0;
    }
}

.bgImageLogin{
    background: url("../../images/login.png");
    width: 100%;
    height: calc(100vh - 8rem);
    background-size: cover;

    @include responsive(mobile){
        width: 0;
        height: 0;
    }

    @include responsive(tablet){
        width: 0;
        height: 0;
    }

    @include responsive(laptop){
        width: 0;
        height: 0;
    }
}
