@media screen and (max-width: 800px) {
    .responsiveNavbarDesktop{
      display: none;
    }
}
  
  
  
@media screen and (min-width: 801px) {
    .responsiveNavbarMobile{
      display: none;
    }
}
  


  
.MuiAppBar-colorPrimary {
    background-color: white !important;
    color: black !important; 
}


.MuiIconButton-edgeEnd {
  margin-right: 5px!important;
  margin-left: 15px!important;
}

  